<!DOCTYPE html>
<html lang="en" ng-app="timeLine">
<head>
  <!-- href='/' for support location angular service-->
  <base href="/">
  <meta charset="UTF-8">
  <title>Daily Horoscope</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <!-- hamburger CSS -->
  <link rel="stylesheet" href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/css/hamburger.css">
  <!-- our css -->
  <link rel="stylesheet" type="text/css" href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/css/style.css" />
  <link rel="stylesheet" type="text/css" href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/css/circle.css" />
  <!-- Google API -->
  <meta name="google-signin-client_id" content="674007506813-o5gqpeki60939l9go777gsrnqk8adr3n.apps.googleusercontent.com">
</head>

<!-- sign out from system -->
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
	window.location.assign("http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/");
      });
    }

    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }
</script>
<body>
<header id="top" role="banner">
  <div class="block">
     <a class="nav-btn" id="nav-open-btn" href="#nav">Book Navigation</a>
  </div>
  <div ng-controller="header">
    <a href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/timeLine.html?uuid={{myUrl}}" target="_self"><img id="logo" src="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/images/logo.png"> </a>
    <a href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/timeLine.html?uuid={{myUrl}}" target="_self"><img id="user" src="{{header.matcher.userSystemImage}}">  </a>
  </div>
</header>
<nav id="nav" role="navigation">
  <div class="block">
    <div ng-controller="hamburger">
      <h2 class="block-title">Chapters</h2>
        <ul>
            <li class="is-active"><a href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/timeLine.html?uuid={{myUrl}}" target="_self">Homepage</a></li>
            <li><a href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/timeLine.html?uuid={{myUrl}}&day=sunday" target="_self">Sunday</a></li>
            <li><a href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/timeLine.html?uuid={{myUrl}}&day=monday" target="_self">Monday</a></li>
            <li><a href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/timeLine.html?uuid={{myUrl}}&day=thesday" target="_self">Thesday</a></li>
            <li><a href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/timeLine.html?uuid={{myUrl}}&day=wednesday" target="_self">Wednesday</a></li>
            <li><a href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/timeLine.html?uuid={{myUrl}}&day=thursday" target="_self">Thursday</a></li>
            <li><a href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/timeLine.html?uuid={{myUrl}}&day=friday" target="_self">Friday</a></li>
            <li><a href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/timeLine.html?uuid={{myUrl}}&day=saturday" target="_self">Saturday</a></li>
            <li><a href="#" onclick="signOut();">Sign out</a></li>
        </ul>
        <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
    </div>
  </div>
</nav>  
<div class="container-fluid">
  <div class="jumbotron">
    <div ng-controller="zodiacLogo">
      <div id="section1">
              <a href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/timeLine.html?uuid={{myUrl}}" target="_self"><img id="horosLogo" src="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185//images/logo/{{zodiac.matcher.userSystemZodiac}}.png"></a>
              <h1 id="today">{{zodiac.items[0].title_full_horo}}</h1>
      </div>

    </div>
    <div ng-controller="timeLine">
	      <p id="date">{{date}}</p>
        <p id="clock"></p>
        <img id=column src="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/images/timeline.png">
        <div ng-repeat="horoscope in horoscopes.items[0].time_line" ng-if="horoscope.good == '1'">
            <div id="{{horoscope.category}}">
              <h6>{{horoscope.time}}</h6> 
              <h3>{{horoscope.title}}</h3>
              <p>{{horoscope.horoscope}}</p>
            </div>
        </div>
        <div ng-repeat="horoscope in horoscopes.items[0].time_line" ng-if="horoscope.good == '0'">
          <div id="{{horoscope.category}}">
            <h6>{{horoscope.time}}</h6> 
            <p>{{horoscope.horoscope}}</p>
          </div>
        </div>

        <div id="section3">
          <p id="later"> Come back later <br> and see more </p>
          <a id="fullHoroscope" ng-href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/fullHoroscope.html?uuid={{myUrl}}&day={{day}}" target="_self" >Full Horoscope</a>
        </div>
    </div>
    <div class="row" ng-controller="matcherByHoro"> 
        <h2>Today's Love Matches:</h2>
        <h4>By Horoscope:</h4>
        <div ng-repeat="matcher in matcherHoro.matcher.ByHoro">
          <div class="col-sm-6 col-md-4 col-lg-2">
            <a ng-href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/matcher.html?uuid={{matcher.id}}&match={{matcher.match}}&myid={{myUrl}}" target="_self"><img src="{{matcher.imageUrl}}" class="horoM1"></a>
            <h3>{{matcher.zodiac  | capitalize}}</h3>
            <section class="percent">{{matcher.match}}%</section>
          </div>
        </div>
    </div>
    <div class="row" id="byName" ng-controller="matcherByName">
      <h4>By Name:</h4>
      <div ng-repeat="matcher in matcherName.matcher.byName">
        <div class="col-sm-6 col-md-4 col-lg-2">
          <a ng-href="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/matcher.html?uuid={{matcher.id}}&match={{matcher.match}}&myid={{myUrl}}" target="_self"><img src="{{matcher.imageUrl}}"  class="nameM1"></a>
             <h3>{{matcher.name  | capitalize}}</h3>
             <section class="percent">{{matcher.match}}%</section>
        </div>
      </div>
    </div>
  <a id="contactUs" href="mailto:shenkar.ws1@gmail.com?Subject=Horoscope">Have an urgent question? <br> Contact Us</a> 
</div>
</div>
  <div class="col-sm-12">
    <footer>
       <p>© Copyright 2016 Shenkar-College Students: <span> Niv Baruch && Alaa Halumi</span></p>
       </footer>
  </div>
<script type="text/javascript"> //clock
function getTime( ) {
    var d = new Date( ); 
    d.setHours( d.getHours()); // offset from local time
    var h = (d.getHours() % 12) || 12; // show midnight & noon as 12
    return (
        ( h < 10 ? '0' : '') + h +
        ( d.getMinutes() < 10 ? ':0' : ':') + d.getMinutes() +
                // optional seconds display
         ( d.getSeconds() < 10 ? ':0' : ':') + d.getSeconds() +
          "<br>" + "&nbsp&nbsp&nbsp&nbsp;"  +
         ( d.getHours() < 12 ? ' AM' : ' PM' )

    );
}

var clock = document.getElementById('clock');
setInterval( function() { clock.innerHTML = getTime(); }, 1000 );

$( document ).ready(function() {
  var hamburger = $('#hamburger-icon');
  hamburger.click(function() {
     hamburger.toggleClass('active');
     return false;
  });
});

</script>
    <script src="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/js/lib/angular/angular.min.js"></script>
    <script src="http://shenkar.html5-book.co.il/2015-2016/ws1/dev_185/js/timeLine.js"></script>
</body>

</html>   